body, 
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Bad Script', cursive;
}
/* NAVIGATION */
nav {
    display: grid;
    grid-template-rows: minmax(min-content, 100px) min-content;
    position: sticky;
    z-index: 5;
    top: 0;
}
nav .content > h1 > a {
    color: black;
    text-decoration: none;
}
nav .content {
    background-color: white;
    display: grid;
    place-items: center;
    grid-auto-flow: column;
}
nav .content .menu {
    display: none;
}
nav .content .menu:hover {
    filter: opacity(50%);
    cursor: pointer;
    user-select: none;
}
nav .content .links {
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    grid-auto-columns: minmax(min-content, 90px);
}
nav .content .links a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
}
nav .content .links a:hover {
    color: #71a39a;
}
nav .dropdown {
    display: none;
    background-color: #ecf7f6;
    text-align: center;
    height: 85vh;
}
nav .dropdown a {
    color: #2f2f2e;
    text-decoration: none;
    text-transform: capitalize;
}
nav .dropdown a:hover {
    color: #71a39a;
}
nav .dropdown .menu-size {
    list-style-type: none;
    padding-top: 15%;
}
nav .dropdown .menu-size > li {
    padding-bottom: 7px;
    padding-top: 7px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}
@media only screen and (max-width: 800px) {
    nav .content .menu {
        display: initial;
    }
    nav .content .links {
        display: none;
    }
}
/* HERO */
.wrapper {
    width: 90%;
    margin: 0 auto;
}
.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 700px;
}
.card > .side-text {
    background-color: #d2ece7;
    text-align: center;
    text-transform: capitalize;
    padding-top: 95px;
    line-height: 75px;
    font-size: 55px;
    letter-spacing: 2px;
}
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media only screen and (max-width: 800px) {
    .card {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .card .side-text {
        padding-top: 30px;
        font-size: 40px;
        line-height:53px;
    }
    .img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }
}
/* ABOUT */
.about-container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 750px 300px;
    padding-top: 80px;
}
.about {
    background-color: #e8e8e3;
    height: 750px;
    text-align: center;
}
.about > h3 {
    padding-top: 80px;
}
.about > p {
    padding: 40px 10px 0 10px;
}
.human-img {
    justify-self: center;
    border: 2px solid red;
    width: 450px;
    align-items: center;
    margin-top: -280px;
}
