body, 
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Bad Script', cursive;
}
/* NAVIGATION */
nav {
    display: grid;
    grid-template-rows: minmax(min-content, 100px) min-content;
}
@media only screen and (min-width: 800px) {
    nav {
        position: sticky;
        z-index: 5;
        top: 0;
    }

}
nav .content > h1 > a {
    color: black;
    text-decoration: none;
}
nav .content {
    background-color: white;
    display: grid;
    place-items: center;
    grid-auto-flow: column;
}
nav .content .menu {
    display: none;
}
nav .content .menu:hover {
    filter: opacity(50%);
    cursor: pointer;
    user-select: none;
}
nav .content .links {
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    grid-auto-columns: minmax(min-content, 90px);
}
nav .content .links a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
}
nav .content .links a:hover {
    color: #71a39a;
}
nav .dropdown {
    display: none;
    background-color: #ecf7f6;
    text-align: center;
    height: 85vh;
}
nav .dropdown a {
    color: #2f2f2e;
    text-decoration: none;
    text-transform: capitalize;
}
nav .dropdown a:hover {
    color: #71a39a;
}
nav .dropdown .menu-size {
    list-style-type: none;
    padding-top: 15%;
}
nav .dropdown .menu-size > li {
    padding-bottom: 7px;
    padding-top: 7px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}
@media only screen and (max-width: 800px) {
    nav .content .menu {
        display: initial;
    }
    nav .content .links {
        display: none;
    }
}
/* HERO */
.wrapper {
    width: 90%;
    margin: 0 auto;
}
.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 700px;
}
.card > .side-text {
    background-color: #d2ece7;
    text-align: center;
    text-transform: capitalize;
    padding-top: 95px;
    line-height: 75px;
    font-size: 55px;
    letter-spacing: 2px;
}
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media only screen and (max-width: 800px) {
    .wrapper {
        width: 100%;
    }
    .card {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .card .side-text {
        padding-top: 30px;
        font-size: 40px;
        line-height:53px;
    }
    .img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }
    .icn {
        margin-top: -20px;
    }
}
/* ABOUT */
.about-container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 750px 300px;
    padding-top: 80px;
}
.about {
    background-color: #e8e8e3;
    height: 750px;
    text-align: center;
}
.about > h3 {
    padding-top: 80px;
}
.about > p {
    padding: 40px 10px 0 10px;
}
.img-face {
    overflow: hidden;
}
.human-img {
    justify-self: center;
    width: 450px;
    margin-top: -280px;
}
@media only screen and (max-width: 800px) {
    .about-container {
        width: 100%;
        padding-top: 0;
        grid-template-rows: 550px 600px;
    }
    .about > p {
        padding: 40px 20px 0 20px;
    }
    .human-img {
        margin-top: 0;
    }
    br {
        display: none;
    }
}
/* SERVICES */
.services {
    padding-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin: 0 auto;
    grid-template-rows: 550px;
    text-align: center;
}
.individual {
    padding-top: 45px;
    font-size: 25px;
    background-color: #e3efcc;
}
.uno {
    overflow-wrap: break-word;
    padding: 20px 15px 0 15px;
    line-height: 75px;
    text-transform: capitalize;
}
.dos > p {
    word-break: break-all;
    font-size: 18px;
    line-height: 30px;
    padding: 20px 18px 0 18px;
}
.group {
    height: 550px;
    padding-top: 45px;
    font-size: 25px;
    background-color: #e8e8e3;
}
.couple {
    height: 550px;
    padding-top: 45px;
    font-size: 25px;
    background-color: #d2ece7;
}
@media only screen and (max-width: 800px) {
    .services {
        grid-template-columns: 1fr;
        width: 100%;
    }
}

/* FOOTER */

.footer {
    padding: 50px 0 25px 0;
    display: grid;
    width: 90%;
    background-color: #eef9bf;
    margin: 0 auto;
    margin-top: 76px;
    margin-bottom: 15px;
    text-align: center;
}
.footer > .info-bottom > p {
    padding: 0 12px 0 12px;
    font-family: "Times New Roman", Times, serif;
}
@media only screen and (max-width: 800px) {
    .footer {
        grid-template-columns: 1fr;
        width: 100%;
    }
}
